<div class="bg">
  <h1 class="headline">Sign up now for weekly fish facts delivered to your email!</h1>
  <img class="logo" src="../../../assets/logo.png">
  <!-- Button trigger modal -->
  <div class="btnContainer">
    <button type="button" class="background1 btn-lg btn-dark" data-toggle="modal" data-target="#signUpModal">
      Sign Up Now!
    </button>

    <!-- Modal -->
    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="signUpModalLabel">Sign Up</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="inputEmail1">Email address</label>
                <input type="email" autocomplete="username email" class="form-control" id="inputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small>
              </div>
              <div class="form-group">
                <label for="inputPassword1">Password</label>
                <input type="password" autocomplete="new-password" class="form-control" id="inputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="inputPassword2">Repeat Password</label>
                <input type="password" autocomplete="new-password" class="form-control" id="inputPassword2" placeholder="Repeat Password">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="check1">
                <label class="form-check-label" for="check1">I would like to recieve special offers.</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="signup()">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>