@import url('https://fonts.googleapis.com/css?family=Gugi');
*{
    font-family: 'Gugi', cursive;
}
.bg {
    background-image: url('../../../assets/water2.jpg');
    height: 800px;
    width: 100%;
    z-index: -2;
    padding: 20px;
}
.textAlignCenter{
    text-align: center;
}

.formAlign{
    margin: auto;
}

.marginTop{
    margin-top: 20px;
}