<div class="bg textAlignCenter">
    <div class="formAlign col-lg-6">
      <form>
        <div class="row">
            <div class="form-group col">
                <label for="Textarea1"><h2>Suggest a fish fact! (300 char max)</h2></label>
                <textarea class="form-control" id="Textarea1" rows="3"></textarea>
            </div>
        </div>
        <div class="textAlignCenter">
            <button type="submit" class="btn btn-primary">Log-In</button>
          </div>
      </form>
    </div>
  </div>